<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    内容{{ articlepage.msg }}<br>
    {% for i in comments %}
        评论{{ i.message }},评论时间{{ i.created_at|date:'Y-m-d H:i' }},<a href="../article/{{ i.MessageId_id}}/comment/{{i.id}}">删除该评论</a><br>
    {% endfor %}
    <form action="../article/{{ articlepage.id }}/comment" method="post">
        留言<input type="text" name="comment",id="comment">
        <input type="submit" value="评论">
    </form>
    <a href="../person">个人信息页</a> <a href="../article">返回</a>
</body>
</html>